@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto Mono');

body {
    font-family: 'Roboto';
    margin: 50px auto;
    min-width: 800px;
    max-width: 40%;
}

h1 {
    margin: 60px auto;
}

h2, h3 {
    margin: 40px auto;
}

code {
    font-family: 'Roboto Mono';
}

img {
    border-radius: 0px;
    margin: 10px auto;
    max-width: 100%;
}
